<nav>
    <div class="site-title">
      <a href="/"><h1>Mani blog</h1></a>
      <p style="color: rgba(20, 20, 114, 0.76);">This is my journey to learn Nodejs and Expressjs</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>