<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
      <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quam explicabo vel. Hic temporibus laborum itaque dolores inventore alias! Perspiciatis ipsa quam aut, voluptas necessitatibus ducimus eligendi voluptatum magni soluta!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto autem debitis ex, hic temporibus magnam quia. Nisi, deserunt! Tempore quod animi aliquam tempora ut inventore cum quia assumenda mollitia quisquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum iure at ullam dignissimos repudiandae sapiente? Velit, nam tenetur ab porro exercitationem, aperiam ex quae, quisquam illo voluptates temporibus sunt?</p>
      </div>
      <%- include('./partials/footer.ejs') %>
</body>
</html>